Repository OwAssembly/oa-monorepo, pull requests merged in 2019-11, with the labels that each got.

#1 :package: (API): Initialize project
  packages/api/.env
  packages/api/.eslintrc
  packages/api/.gitignore
  packages/api/nodemon.json
  packages/api/package.json
  packages/api/src/entities/User.ts
  packages/api/src/index.ts
  packages/api/src/lib/env.ts
  packages/api/src/resolvers/UserResolver.ts
  packages/api/src/resolvers/index.ts
  packages/api/src/schemas/UserSchema.ts
  packages/api/tsconfig.json
  yarn.lock
Labels: API

#2 :package: (BOT): Initialize project
  packages/bot/.env
  packages/bot/.eslintrc
  packages/bot/.gitignore
  packages/bot/nodemon.json
  packages/bot/package.json
  packages/bot/src/index.ts
  packages/bot/src/lib/env.ts
  packages/bot/tsconfig.json
  yarn.lock
Labels: BOT

#3 :package: (WEBAPP): Initialize project
  packages/shared/theme/.eslintrc
  packages/shared/theme/.gitignore
  packages/shared/theme/package.json
  packages/shared/theme/src/GlobalStyle.ts
  packages/shared/theme/src/index.ts
  packages/shared/theme/src/theme.ts
  packages/shared/theme/tsconfig.json
  packages/shared/theme/yarn.lock
  packages/webapp/.browserslistrc
  packages/webapp/.env
  packages/webapp/.eslintignore
  packages/webapp/.eslintrc
  packages/webapp/.gitignore
  packages/webapp/README.md
  packages/webapp/package.json
  packages/webapp/public/favicon.ico
  packages/webapp/public/index.html
  packages/webapp/public/logo192.png
  packages/webapp/public/logo512.png
  packages/webapp/public/manifest.json
  packages/webapp/public/robots.txt
  packages/webapp/src/app/App.tsx
  packages/webapp/src/app/index.ts
  packages/webapp/src/assets/android-chrome-192x192.png
  packages/webapp/src/assets/android-chrome-512x512.png
  packages/webapp/src/assets/apple-touch-icon.png
  packages/webapp/src/assets/browserconfig.xml
  packages/webapp/src/assets/favicon-16x16.png
  packages/webapp/src/assets/favicon-32x32.png
  packages/webapp/src/assets/favicon.ico
  packages/webapp/src/assets/logo192.png
  packages/webapp/src/assets/logo512.png
  packages/webapp/src/assets/mstile-150x150.png
  packages/webapp/src/assets/safari-pinned-tab.svg
  packages/webapp/src/index.tsx
  packages/webapp/src/lib/env.ts
  packages/webapp/src/pages/Home/Home.tsx
  packages/webapp/src/pages/Home/index.ts
  packages/webapp/src/pages/index.tsx
  packages/webapp/src/react-app-env.d.ts
  packages/webapp/src/serviceWorker.ts
  packages/webapp/src/store/ducks/index.ts
  packages/webapp/src/store/index.ts
  packages/webapp/tsconfig.json
  packages/webapp/yarn.lock
  yarn.lock
Labels: WEBAPP

#12 :sparkles: (BOT): Add help command
  packages/bot/src/commands/misc/help.ts
  packages/bot/src/commands/types.ts
  packages/bot/src/index.ts
  packages/bot/src/utils/commandUtils.ts
Labels: BOT

#13 :sparkles: (BOT): Add Ping command
  packages/bot/package.json
  packages/bot/src/commands/misc/ping.ts
  yarn.lock
Labels: BOT

#16 :bug: (BOT): Fix bug on ping command (get "" in aliases list)
  packages/bot/src/commands/misc/ping.ts
Labels: BOT

#15 :bug: (BOT): Fix help command wich work with bullshit param
  packages/bot/src/commands/misc/help.ts
Labels: BOT
